.wallet-navbar
  .navbar-logo
    = link_to accounts_path, class: "navbar-brand",
                             title: "My Wallets App" do
      %i.fa-solid.fa-wallet.green
  .navbar-options
    - if user_signed_in?
      = link_to accounts_path title: "Home" do
        %i.fa-solid.fa-house.green
      = link_to statistics_path, title: "Statistics" do
        %i.fa-solid.fa-chart-pie.green
      = link_to categories_path, title: "Categories" do
        %i.fa-solid.fa-folder.green
      %li.dropdown
        %i.fa-solid.fa-user{id: "navbarDropdown",
                            title: 'User',
                            style: 'color:green',
                            data: { bs_toggle: "dropdown" },
                            'aria-haspopup': true,
                            'aria-expanded': false }
        .dropdown-menu.dropdown-menu-end.default-border-radius{"aria-labelledby" => "navbarDropdown"}
          = link_to "Edit User", edit_user_registration_path, class: "dropdown-item"
          = link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item"
    - else
      %li.login-link
        = link_to "Login", new_user_session_path, class: "nav-link"
