:css
  .hide-container{
    display: none;
  }

%div{'data-controller': 'dynamic-subcategory'}
  %h4 Transaction
  = simple_form_for simple_form_path do |f|
    = f.input :date
    = f.input :name
    = f.input :description
    = f.input :value
    = f.association :category,
                    collection: current_user.categories.order(:name),
                    prompt: 'Choose a category'
    #subcategory-field.b-3.select.optional.transaction_subcategory.hide-container{'data-transaction': @transaction.id}
      %label.form-label.select.optional{for: 'transaction_subcategory_id'} Subcategory
      %select.form-select.select.optional{name: 'transaction[subcategory_id]', id: 'transaction_subcategory_id'}

    .form-buttons
      = link_to 'Cancel', account_path(@account), class: 'btn btn-outline-primary'
      = f.submit submit_text, class: 'btn btn-primary'
