%tr
  %td= nice_date(transaction.date)
  %td= transaction.name
  %td= transaction.description
  %td= transaction.category&.name || 'None'
  %td= transaction.subcategory&.name || 'None'
  %td= transaction.check_number || 'None'
  %td.text-right{class: "#{number_class(transaction.value)}"}
    = number_to_currency(transaction.value)
  %td.text-right
    = number_to_currency(transaction.account_balance)
  %td
    .action-column
      = link_to '', edit_transaction_path(transaction), 'data-controller': 'turbo',
                                                        class: 'bi bi-pencil-fill',
                                                        title: 'Edit transaction'
      = link_to '', transaction_path(transaction), data: { turbo_method: :delete,
                                                           turbo_confirm: 'Are you sure that you want to delete this transaction?' },
                                                   class: 'bi bi-trash-fill',
                                                   title: 'Delete transaction'
