%div.bg-white.main-box-shadow.default-border-radius.p-3.my-3.wallet-card.default-border-radius.p-3
  %div.card-info
    %h6= transaction.name
    %div.description
      = transaction.description
    %div
      = transaction.category&.name || 'None'
      = transaction.subcategory ? ': ' + transaction.subcategory.name : ''
  %div.card-value
    %div.value{class: "#{number_class(transaction.value)}"}
      = number_to_currency(transaction.value)
    %div{style: 'min-width:60px'}
      = link_to '', edit_transaction_path(transaction), 'data-controller': 'turbo',
                                                        class: 'bi bi-pencil-fill mx-2',
                                                        title: 'Edit transaction'
      = link_to '', transaction_path(transaction), data: { turbo_method: :delete,
                                                           turbo_confirm: 'Are you sure that you want to delete this transaction?' },
                                                   class: 'bi bi-trash-fill',
                                                   title: 'Delete transaction'
