%div.bg-white.main-box-shadow.default-border-radius.p-3.my-3.wallet-card.default-border-radius.p-3
  %div.card-info
    %h6= transaction.name
    %div.description
      = transaction.description
    %div
      = transaction.category&.name || ''
      = transaction.subcategory ? ': ' + transaction.subcategory.name : ''
  %div.card-value
    %div
      = link_to edit_transaction_path(transaction), 'data-controller': 'turbo',
                                                     class: 'mx-2 text-decoration-none',
                                                     title: 'Edit transaction' do
        %i.fa-solid.fa-pencil
      = link_to transaction_path(transaction), data: { turbo_method: :delete,
                                                       turbo_confirm: 'Are you sure that you want to delete this transaction?' },
                                               title: 'Delete transaction' do
        %i.fa-solid.fa-trash
    %div.value{class: "#{number_class(transaction.value)}", style: 'min-width:60px'}
      = number_to_currency(transaction.value)
