!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MyWalletApp2
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    = render 'shared/navbar'
    %div.mt-5
      = render 'shared/flashes'
      .default-page-wrapper
        = yield
        = turbo_frame_tag 'remote_modal'
