%tr
  %th{ scope: 'row', style: 'color:green' }= account.name
  %td= account.description
  %td.text-right{class: "#{number_class(account.initial_amount)}"}
    = number_to_currency(account.initial_amount)
  %td.text-right{class: "#{number_class(account.balance)}"}
    = number_to_currency(account.balance)
  %td
    .action-column
      = link_to '', account_path(account), title: 'Account transactions',
                                           class: 'bi bi-file-text-fill'
      = link_to '', edit_account_path(account), 'data-controller': 'turbo',
                                                class: 'bi bi-pencil-fill',
                                                title: 'Edit account'
      = link_to '', account_path(account), data: { turbo_method: :delete,
                                                   turbo_confirm: 'Are you sure that you want to delete this account with all of its records?' },
                                           class: 'bi bi-trash-fill',
                                           title: 'Delete account'
