%h4 Account
= simple_form_for @account do |f|
  = f.input :name
  = f.input :description
  = f.input :initial_amount
  .form-buttons
    = link_to 'Cancel', accounts_path, class: 'btn btn-outline-primary'
    = f.submit submit_text, class: 'btn btn-primary'
